html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#myTabContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: column;
}
.nav-item {
  padding: 3px;
  margin: 2px;
  width: auto;
  border: lightgrey solid 1px;
  border-radius: 6px;
}

#home-tab-pane {
  height: 100%;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  padding: 15px;
}
.nav-link {
  width: 100%;
  background-color: white;
}
#coinMain {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
  height: 100%;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#search {
  display: flex;
  justify-content: center;
}

.d-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.switchFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#loader {
  width: 90px;
  height: 90px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: none;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

#profile-tab-pane {
  margin-top: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 615px) {
  #coinMain {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    width: auto;
    border: none;
  }
  #search {
    margin-left: auto;
  }
  .nav-link {
    width: 100%;
  }
  .d-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .nav-link.active {
    border-top: lightgrey solid 1px;
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
    border-top-left-radius: 6px;
  }
}
